#intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeebeb;
  flex-direction: column;
}

#intro h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#intro p {
  font-size: 1.2rem;
}
