#intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#eeebeb ;
  flex-direction: column;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  background-color:#eeebeb ;
}

#intro p {
  font-size: 1.2rem;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;  
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;       
  z-index: 1000;
}

.logo p {
  font-size: 1.8rem;         
  font-weight: 600;
  color: white;
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.05rem;
  transition: 0.3s ease;
  margin-right:75px;
}

.nav-links a:hover {
  color: #ffce63;
}

#projects .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

#projects .project-item {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .nav-links{
        flex-direction: column;
        text-align: center;
    }
}




